* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #ae2896, #509bf5);
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
}
h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

p {
    text-align: center;
    text-align: justify;
    color: #fff;
    margin-top: 20px;
}

.container button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    color: #000;
    width: 200px;
    border: none;
    border-radius: 20px;
    background: #ff7fe3;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 22px;
    margin-top: 50px;
}

.container1 img {
    width: 400px;

    height: 400px;
    margin-top: 20px;

}

@media screen and (max-width: 868px) {
h1 {
    font-size: 23px;
    text-align: center;
    color: #fff;
    margin-top: 20px;

}

    div {
        margin-left: 20px;
        margin-right: 20px;
    }
    .container1 img {
        width: 300px;
        height: 300px;

    }
    .container1 {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
}